.dashboard {
  display: grid;
  grid-template-areas: ". title ."
                       "sidebar note note";
  grid-template-columns: repeat(3, 1fr);
}

.title {
  grid-area: title;
}

.note {
  grid-area: note;
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
}

.note > .title-input {
  width: 80%;
}

.note > .body-input {
  width: 80%;
}
